:root {
    --primary-color: #e50914;
    --dark-color: #141414;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html,
body {
    height: 100%;
}

li,
a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

body {
    font-family: "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: white;
}

.wrapper {
    position: relative;
    /* margin: 0 auto;
    max-width: 1000px; */

    margin-right: auto;
    margin-left: auto;

    max-width: 960px;

    padding-right: 10px;
    padding-left: 10px;
}

.showcase {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
        url("../img/header_pic.jpg") no-repeat center center/cover;
}

/*
nav link style
*/

header {
    height: 80px;
    width: 100%;
    /* background: #0082e6; */
}

header > a > img {
    width: 150px;
    transform: translate(0, -25%);
}

header ul {
    float: right;
    /* margin-right: 20px; */
}

header ul li {
    display: inline;
    line-height: 80px;
    margin: 0 5px;
}

header ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a:hover {
    color: #f1c605;
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.showcase-bottom > p {
    padding: 100px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

/**
* character infomation
*/
/* .global-header {
    background: red;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
        url("../img/header_pic.jpg") no-repeat center center/cover;
    height: 90px;
} */

.align-center {
    text-align: center;
    align-items: center;
    letter-spacing: 1px;
}

.char-title > h1 {
    padding-top: 5px;
    padding-bottom: 1rem;
    text-align: center;
}
.char-name-display {
    height: 75vh;
    overflow: scroll;
}

.text-button {
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
    background-color: transparent;
    color: white;
    letter-spacing: 1px;
}

.hidden-info-disp {
    overflow: auto;
    white-space: nowrap;
}

table {
    /* width: fit-content; */
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
    border-collapse: collapse;
    text-align: center;
    position: relative;
}

th,
td {
    padding: 0.25rem;
}

.char-thead-tr,
.char-tbody-tr {
    display: inline-flex;
    flex-direction: column;
}

/* houses page style*/
.houses-title {
    position: relative;
    padding-top: 50px;
    max-width: 800px;
}

.houses-title > h1,
.houses-title > p {
    text-align: center;
    letter-spacing: 0.05rem;
}

.houses-title > h1 {
    padding-bottom: 20px;
}

.card-deck {
    padding-top: 50px;
    height: 300px;
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    margin-bottom: 10px;
    border-style: groove;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0 0.25rem 0.75rem rgba(255, 255, 255, 0.4);
    background: rgba(3, 3, 3, 0.3);
}

.card-header {
    border-bottom: groove;
    border-width: 1px;
    padding: 20px 0;
}

.card-header > p {
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
}

.card-body {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.head-of-house,
.house-ghost,
.house-founder {
    text-align: center;
    letter-spacing: 1px;
}

/* spells */
.spell-title {
    padding-top: 5px;
    padding-bottom: 1rem;
}

.spell-title h1 {
    text-align: center;
}
.spell-container {
    height: 75vh;
    overflow: scroll;
}

.spell-thead-tr > th {
    padding-left: 3rem;
    padding-right: 3rem;
    position: sticky;
    background: gold;
    color: black;
    top: 0px;
}

@media (max-width: 752px) {
    header ul li a {
        font-size: 16;
    }
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        z-index: 1;
    }

    header ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    header ul li a {
        font-size: 20px;
    }

    a:hover {
        background: none;
        color: #f1c605;
    }

    #check:checked ~ ul {
        left: 0;
    }
}
